.main {
  position: relative;
  z-index: var(--z-main-content);
  display: flex;
  padding-top: to-rem(30);
  padding-bottom: to-rem(30);

  @include respond-to(medium) {
    flex-direction: column;
    align-items: center;
  }

  @include respond-above(medium) {
    height: vh(100);
    min-height: to-rem(500);
    align-items: center;
    justify-content: flex-end;
  }
}

.main__logo-link {
  display: inline-block;
  margin-bottom: to-rem(5);

  @include respond-above(medium) {
    display: none;
  }
}

.main__text {
  width: 100%;

  @include respond-above(medium) {
    width: 39%;
  }

  img {
    width: 100%;
  }
}

.main__main-pic {
  display: inline-block;

  @include respond-to(medium) {
    width: 100%;
    margin-top: -24%;
  }

  @include respond-above(medium) {
    position: absolute;
    z-index: var(--z-default);
    bottom: 0;
    right: 53%;
    max-height: 110%;
    width: 64%;
    transform: translateX(8%);
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  &--mobile {
    @include respond-above(medium) {
      display: none;
    }
  }

  &--desktop {
    @include respond-to(medium) {
      display: none;
    }
  }
}

.main__cta-btn {
  --gutter: #{to-rem(20)};

  position: absolute;
  z-index: var(--z-default);
  top: min(85%, vh(85));
  left: var(--gutter);
  width: calc(100% - var(--gutter) * 2);
  box-shadow: 0 to-rem(7) to-rem(25) var(--col-tibetan-yellow);

  @include respond-above(medium) {
    display: none;
  }
}

.main__desktop-logo-link {
  margin-top: auto;
  margin-bottom: vh(3.5);
}

.main__desktop-sign-up-wrapper {
  display: none;

  @include respond-above(medium) {
    position: relative;
    z-index: var(--z-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: vh(7.5) max(2vw, to-rem(20));
    border-radius: to-rem(10);
    border: to-rem(1) solid var(--col-total-white);
    background: rgba(var(--col-gordons-green-rgb), 30%);
    backdrop-filter: blur(to-rem(15));
    overflow-y: auto;

    .sign-up-form__form {
      max-width: clamp(to-rem(330), 22vw, to-rem(418));
      margin-bottom: auto;
    }

    .sign-up-form__title {
      margin-bottom: vh(3.5);
      font-size: to-rem(24);
    }
  }
}

.main__glow {
  width: 63%;
  aspect-ratio: 1;
  position: absolute;
  z-index: var(--z-hidden);
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--col-bright-green);
  filter: blur(to-rem(80));

  @include respond-above(medium) {
    width: 37.5%;
    top: unset;
    bottom: 8%;
    right: 48%;
    left: unset;
    filter: blur(to-rem(180));
  }
}
