$col-total-black: #000000;
$col-total-black-rgb: hex-to-rgb($col-total-black);

$col-total-white: #ffffff;
$col-total-white-rgb: hex-to-rgb($col-total-white);

$col-gordons-green: #28302a;
$col-gordons-green-rgb: hex-to-rgb($col-gordons-green);

$col-rich-olive: #3e4a41;
$col-rich-olive-rgb: hex-to-rgb($col-rich-olive);

$col-vermilion-cinnabar: #e63946;
$col-vermilion-cinnabar-rgb: hex-to-rgb($col-vermilion-cinnabar);

$col-radiant-silver: #8f969c;
$col-radiant-silver-rgb: hex-to-rgb($col-radiant-silver);

$col-bilberry: #72787e;
$col-bilberry-rgb: hex-to-rgb($col-bilberry);

$col-island-palm: #697a6d;
$col-island-palm-rgb: hex-to-rgb($col-island-palm);

$col-dark-tone-ink: #121212;
$col-dark-tone-ink-rgb: hex-to-rgb($col-dark-tone-ink);

$col-black-chestnut-oak: #272421;
$col-black-chestnut-oak-rgb: hex-to-rgb($col-black-chestnut-oak);

$col-rich-red: #ff0e41;
$col-rich-red-rgb: hex-to-rgb($col-rich-red);

$col-incision: #ff0024;
$col-incision-rgb: hex-to-rgb($col-incision);

$col-love-red: #ff4374;
$col-love-red-rgb: hex-to-rgb($col-love-red);

$col-caraquenian-crimson: #9e0016;
$col-caraquenian-crimson-rgb: hex-to-rgb($col-caraquenian-crimson);
