@use 'sass:color';
@import '@/styles/colors';

:root,
::before,
::after {
  // Primary colors
  --col-black-chestnut-oak: #{$col-black-chestnut-oak};
  --col-bright-green: #{$col-bright-green};

  // Z-indexes
  --z-modal-overlay: 14;
  --z-modal: 9;
  --z-main-content: 2;
  --z-default: 1;
  --z-hidden: -1;

  // Text variables
  /* stylelint-disable max-line-length */
  --primary-font-family: 'Ubuntu', -apple-system, 'BlinkMacSystemFont',
    'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
    sans-serif;
  /* stylelint-enable max-line-length */

  --p-size: #{to-rem(14)};

  // Base
  --primary-text-color: var(--col-radiant-silver);
  --container-max-width: #{to-rem(420)};
  --container-side-padding: 0;

  @include respond-above(medium) {
    --container-max-width: #{to-rem(1600)};
    --container-side-padding: #{to-rem(40)};
  }

  // App overlay
  --app-overlay-bg: rgba(var(--col-dark-tone-ink-rgb), 60%);

  // Sign up form
  --sign-up-form-input-bg: var(--col-black-chestnut-oak);
}
